node_modules
dist
dist-ssr
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
coverage
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.amplify
amplify/.config/local-*
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
amplify/#current-cloud-backend
aws-exports.js
